<!DOCTYPE html>
<html>
<head>
	<title>Send Big Mail!!</title>
	<script src="{{ url_for('static', filename='jquery.js') }}">
	</script>

	<script type="text/javascript">
		function controlLED(target, flag){
			$.ajax({
				//os.system("curl http://192.168.0.101:8888/ledon?target=red")
				url : "led"+ flag +"?target=" + target,
				success : function(data){
					if(target == "red")
						$("#result > #red").html(data);
					else if(target == "yellow")
						$("#result > #yellow").html(data);
				},
				error : function(e){
					if(target == "red")
						$("#result > #red").html("red LED 에러가 났습니다.");
					else if(target == "yellow")
						$("#result > #yellow").html("Yellow LED 에러가 났습니다.");
				}
			});
		}
	</script>

</head>
<body>

	이메일 100개를 보내겠습니다~
	<form action="sendmail" method="POST">
		EMAIL : <input type="text" name="email"><br>
		PW : <input type="password" name="pw"><br>
		RECEIVER : <input type="text" name="receiver">
		<input type="submit" value="전송">
	</form>

	<button onclick="controlLED('red', 'on')">빨간색 LED ON</button>
	<button onclick="controlLED('red', 'off')">빨간색 LED OFF</button>
	<br>
	<button onclick="controlLED('yellow', 'on')">노란색 LED ON</button>
	<button onclick="controlLED('yellow', 'off')">노란색 LED OFF</button>

	<br>
	<div id="result">
		<div id="red"></div>
		<div id="yellow"></div>
	</div>

</body>
</html>