<!DOCTYPE html>
<html>
<head>
	<title>Flask</title>
	<script src="{{ url_for('static', filename='jquery.js') }}">
	</script>

	<script type="text/javascript">

		function jsonTest(name, age){

			$.ajax({
				url: "jsontest",
				method: "POST",
				success: function(data){
					alert("success!! \nname : " + data.name + "\nage : " + data.age);
				},
				error: function(){
					alert("error!!");
				}
			});

		}

		function controlLED(target, flag){
			$.ajax({
				url : "led"+ flag +"?target=" + target,
				success : function(data){
					if(target == "red")
						$("#result > #red").html(data);
					else if(target == "yellow")
						$("#result > #yellow").html(data);
				},
				error : function(e){
					if(target == "red")
						$("#result > #red").html("red LED 에러가 났습니다.");
					else if(target == "yellow")
						$("#result > #yellow").html("Yellow LED 에러가 났습니다.");
				}
			});
		}
	</script>

</head>
<body>
	<h1>LED Controller</h1>
	<button onclick="controlLED('red', 'on')">빨간색 LED ON</button>
	<button onclick="controlLED('red', 'off')">빨간색 LED OFF</button>
	<br>
	<button onclick="controlLED('yellow', 'on')">노란색 LED ON</button>
	<button onclick="controlLED('yellow', 'off')">노란색 LED OFF</button>

	<br>
	<div id="result">
		<div id="red"></div>
		<div id="yellow"></div>
	</div>

	<hr>
	<h1>JSON TEST</h1>
	<button onclick="jsonTest('kty', '24')">JSON 받아보기</button>

</body>
</html>