<!DOCTYPE html>
<html>
<head>
	<title>초음파 센서</title>
	<script src="{{ url_for('static', filename='jquery.js') }}">
	</script>

	<script type="text/javascript">
		$(function(){
			setInterval(getDist, 3000);
		})

		function getDist(){
			$.ajax({
				url: 'ajax',
				dataType: 'json',
				success: function(data){
					$("#view").html(data.dist + "cm");
				},
				error: function(){
					$("#view").html("Error!!");
				}
			});
		}
	</script>
</head>
<body>

	거리 : <div id="view"></div>

</body>
</html>